/* line 4, ../sass/place.scss */
::-webkit-input-placeholder {
  background-color: yellow;
}

/* line 4, ../sass/place.scss */
:moz-placeholder {
  background-color: yellow;
}

/* line 4, ../sass/place.scss */
::-moz-placeholder {
  background-color: yellow;
}

/* line 4, ../sass/place.scss */
:-ms-input-placeholder {
  background-color: yellow;
}
